.section-title {
  font-size: 34px;
  margin-bottom: 25px;
  color: #1e3a8a;
}

.card {
  background: #f9fafb;
  border: 1px solid #e5e7eb;
  padding: 20px;
  border-radius: 14px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}
/* Social Icons */

.social-icons{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:30px;
  margin-top:30px;
}

.social-icons a{
  width:70px;
  height:70px;

  background:white;

  border-radius:50%;

  display:flex;
  align-items:center;
  justify-content:center;

  font-size:30px;

  color:#2563eb;

  box-shadow:
  0 10px 25px rgba(0,0,0,0.1);

  transition:0.3s ease;
}

.social-icons a:hover{
  transform:translateY(-8px) scale(1.1);

  background:
  linear-gradient(
    135deg,
    #2563eb,
    #7c3aed
  );

  color:white;

  box-shadow:
  0 20px 40px rgba(37,99,235,0.25);
}